<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Conn.db.localhost" connectionString="Data Source=db.loja.com.br;Initial Catalog=lojadesktop;User ID=lojadesktop;password=!loj@d3skt9p" providerName="System.Data.SqlClient"/>
    <add name="Conn.db.web" connectionString="Data Source=db.webmaicon.net;Initial Catalog=lojaonline;User ID=lojaonline;password=!l0j@onl!n3" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  
  <system.web>
     <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
